.Calendar_timeslot{
    margin-left: 150px;
}

.booking{
    display: inline-flex;
    margin-top:30px;
    background-color: white;
    padding: 40px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-bottom: 100px;
}