.ChatIcon{
    width:75px;
    position: absolute;
    bottom: 5%;
    right:2.5%;
}

.chat_box{
    background-color: rgb(230, 230, 230);
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 2.5%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 70%;
    
}

.scrollable_list{
    overflow-y:scroll;
}

.heading{
    background-color: #9bb150;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block ruby;
    padding: 5px;
}

.close_icon{
    position: absolute;
    top:10px;
    right: 2%;
}

.chat_title{
    position: relative;
    left: 15px;
    top: 2px;
    width: fit-content;
}

.chatlist_box{
    height: 600px;

}

.chat_heading{
    position: absolute;
    background-color:  rgb(230, 230, 230);
    left:0;
    right: 0;
    z-index: 1;
}

.exit_chat{
    position: absolute;
    margin-bottom: 0;
    z-index: 2;
    top: 20%;
    text-decoration: underline;
    width: fit-content;
    
}

.back_icon{
    height: 30px;
    margin-left: 5px;
}
.input_field{
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
}
.space_block{
    height: 45px;
}

.chat_name{
    width: fit-content;
}

.invio{
    height:40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}

.send_icon{
    height: 20px;
    filter:invert(1);
    margin-bottom: 2px;
}