.foods{
    height: 50vh;
    margin: 5px;
}

.ingredient{
    background-color: transparent;
    border-radius: 5px;
    height: 100%;
    font-size:1.25rem;
    width: 100%;
    margin-left:5px;
}


.Verify{
    height: 25px !important;
}

.meal{
    margin-top: 10px;
    text-align: center;
}


.ingredient_name{
    width: 80%;
}

.quantity{
    width: 70px !important;
    margin-right: 5px;
    font-size: 4;
}

#plus-icon{
    height: 90vh !important;
    color:#9BB150;
}

.multiple_cards{
    margin-top: 20px;
    display: inline-flex !important; 
    flex-wrap: wrap !important;
    margin-bottom: 100px;
    width: 100%;
}

.nutritionist_card{
    height: 60vh !important;
    width: 19%;
    box-shadow: 5px 5px 5px #dededeb9;
    margin: 4px;
}

.list-group-item:last-child{
    background-color: transparent !important;
}

.add_ingredient{
    background-color: #9BB150 !important;
}

