
.foods{
    height: 50vh;
    margin: 5px;
}

.ingredient{
    background-color: transparent;
    border-radius: 5px;
    height: 100%;
    font-size:1.10rem;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3px;
}

.tabs_days{
    display:flex !important;
    position:relative !important;
}


.Verify{
    height: 25px !important;
}

.meal{
    margin-top: 10px;
    text-align: center;
}


.ingredient_name{
    width: 80%;
    padding-top: 2%;
}

.quantity{
    width: 80px !important;
    margin-right: 5px;
    font-size: 3;
}

#plus-icon{
    height: 90vh !important;
    color:#9BB150;
}

.multiple_cards{
    margin-top: 20px;
    display: inline-flex !important; 
    flex-wrap: wrap !important;
    
    width: 100%;
}

.meal_card{
    height: 60vh !important;
    width: 19%;
    box-shadow: 5px 5px 5px #dededeb9;
    margin: 4px;
}

.list-group-item:last-child{
    background-color: transparent !important;
}

.add_ingredient{
    width: 20%;
    margin-top:10px;
    background-color: #9BB150 !important;
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
}

.save_button{
    width: 20%;
    margin-left: 10px;
}

.title{
    font-family:Arial, Helvetica, sans-serif !important;
    text-align: center;
    padding: 0%;
}

.title:hover {
    background-color: #9BB150;
    color:black !important;
}

.title:active{ background-color: #9BB150;}

.table1{
    height: 60vh;
    margin-top: 2% !important;
    margin-left: 2%;
    margin-right: 2%;
}

.cont1{
    margin-top: 50px !important;
    margin-bottom: 200px !important;
}

.no_plan{
    width: 80%;
    height: 70vh;
    background-color: white;
    position: center;
    margin: 10%;
    margin-top: 3%;
    border-radius: 10px;
}

.not_found{
   margin: 20px;
}

.upper_div{
    display: flex;
    justify-content: space-between;
}

.get_recipes{
    position: absolute;
    width: 40%;
    bottom: 40px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.nutritional_card{
    display: none;
    padding: 30px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px 3px #dededeb9;
}
.nutritional_card h3{
    margin-bottom: 20px;
}

.nutritional_value{
    background-color: transparent;
    border-radius: 5px;
    height: 100%;
    font-size:1.25rem;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3px;
}

.value{
    width: 25% !important;
}

.rec_values{
    margin-left: 10%;
    width: 30%;
}
