.home-background{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/Nutritionist-course.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.search-bar{
    padding: 10px;
    position: center;
}

.logo-home{
    padding: 50px;
}

.home-cards{
    margin-bottom: 150px;
    display: inline-flex; 
    flex-wrap: wrap;
    width: 90% !important;
    margin-left: 8%;
    margin-right: 5%;
    gap: 10px;
}

.nutritionist_header{
    display: inline-flex; 
    flex-wrap: wrap;
}
.nut_icon{
    width: 200px !important;
}

.nut_title{
    margin-top: 40px !important;
    margin-left: 10px;
}

.nutritionist_card{
    padding: 30px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    width: 40% !important;
}

