
.btn-primary {
    background-color: #9BB150 !important;
    border-color: #9BB150 !important;
    
}


.Form {
    padding: 10px !important; 
}

.control{
    margin:0%;
}

.Tab:hover{
    background-color: #7f7d7d !important;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #9BB150 !important;
}



.Login{
    gap: 0.5rem;
    border-radius: 30px;
    background-color: #9BB150;
}

.label-mb-3{
    margin-left: 5pt;

}

.title{
    font-family:Arial, Helvetica, sans-serif !important;
}

.title:hover {
    background-color: #9BB150;
    color:black !important;
}
.card1{
    width: 50%; 
    text-align:left;
    margin-bottom: 150px !important;
}

.mb-3-r{
    margin-left: 4pt;
}

.checkbox{
    margin-left: 1%;
}


.Reg{
    padding: 30px;
}


.existing_user{
    text-align: center;
}

.existing_user h4{
    color: red;
    padding-bottom: 20px;
}

.nav{
    background-color: white; 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    font-family: 'Garamond';
    font-size: 21px;
}

.nav menu{
    background-color: white;
    display: none;
    position: absolute;
    top:0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
.nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active{
    background-color: #9BB150;
}

.nav li:hover{
    border-radius: 30px;
    background-color: #9BB150;
}



.SearchCountryComponent{
    width: 100%;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    
}
#search-icon-country{
    color:#9BB150;
}

.results-list-country{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px black;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    
    
}




.search-result-country{
    padding:10px 20px;
    border: 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

.search-result-country:hover{
    background-color: #9BB150;
}

#checkbox_nutritionist{
    margin-top: 20px !important;
}

#form_nutritionist{
    margin-top: 30px;
    margin-bottom: 30px !important;
}