.cont1{
  min-width: min-content !important;
  margin-left:10px;
  margin-right:10px;
  margin-top: 15px;
  display: block !important;
  position: fixed;
  max-width: 100%;

  
  

}

@media screen and (max-width: 700px) {
.cont1 {
  
   
  }
}

.mybutton{
  margin-top: 2%;
}



.label2{
    margin-top:5px;
}
.image{
  max-width: 80%!important;
  
  
    margin-bottom: 20px;
    margin-top: 20px;
    
}

@media screen and (max-width: 700px) {
  .image {
    
   display: none !important;
  }
  
  
 
}



.listgroup{
  outline: none;
  border: none;


}

.listgroup:active{
  background-color:#9BB150 !important; 
  border: none;

}

.listgroup:hover:not(.active) {
  background-color: #555;
  color: white;
}

.listgroup:focus{
    background-color:#9BB150 !important; 
    border: none;

}

.pane{
  margin-right:15px;
  margin-left:15px;
  margin-top: 15px;
}

.control{
  margin:0% !important;
}

.photo {
 
  width: 50%; /* Adjust as needed */
  height: 0;
  padding-bottom: 50%; /* This creates a square container */
  border-radius: 50%; /* This makes the circle */
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  
  
}

@media screen and (max-width: 700px) {
.profile-pic {
 
}



}



.photo:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.photo span {
  display: inline-block;
  padding-top: 5.5em;
  padding-bottom: 4.5em;
  cursor: pointer;
}

#fileToUpload{
        display: none;
        cursor: pointer;
}

.mb-3-special{
  margin-top:20px !important;
}