.multiple_cards{
    display:inline-flex; 
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.single_nutritionist_card{
    height: 20% !important;
    width: 20%;
    box-shadow: 10px 10px 5px #dededeb9;
    margin: 30px;
}

.image_div{
    height: 40;
    overflow: hidden;
    max-height: 40vh;
}


.picture{
    width: 100%; /* Rendi l'immagine larga quanto il div */

}

.card_text {
    background-color: white;
}

.search_loc{
    padding-top: 20px;
}
 
.search_title{
    margin-bottom: 20px;
}

.location{
    height: 40vh;
}

.sender{
    margin-left: 10px;
}

.message_text{
    width: 100%;
    resize: none;
}