.full_div{
    border-radius: 10px;
    width: 90%;
    height: auto;
    padding: 30px;
    background-color: white !important;
    margin: 5%;
}

.full_div h4{
    margin-left: 8%;
}

.keywords{
    border-color: lightgray;
    height: 40px;
    width: 60%;
    margin-left: 8%;
    margin-right: 5%;
}

.search{
    margin-top: 30px;
    display: flex;
}

.receipes_cont{
    margin: 60px;
}

.receipe{
    height: auto;
    min-height: 37vh;
    border-color: lightgray !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #dededeb9;
    margin-bottom: 30px;
}

.rec_info{
    margin: 1%;
    margin-left: 4%;
    width: 50%
}
.rec_image{
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 2%;
    height: 30vh!important;
}

.rec_name{
    font-size:xx-large;
}

.rec_values{
    margin-right: 40px;
    margin-top: 1.5%;
}

.val{
    padding: 5px;
    margin-bottom: 5px;
    border-color: black;
}

.cals{
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}