.input_progress{
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    width: 75%;
    padding: 3px;
    text-align: center;
}

.table_progress_user{

    width: 80%;

}


.charts{
    display: inline-flex;
}

.button_measurements{
    background-color: #9bb150 !important;
    margin-top: 10px !important;
}

#date{
    margin: 9px;
}

.progress_card{
    width: 90%;
}