<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="https://nutriverse_nginx_proxy/api/login" method="post" target="_blank">
    <label for="fname">email</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="lname">password</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</body>
</html>
